<h1>Editing Scraping Html Element</h1>

<%= render 'form', scraping_html_element: @scraping_html_element %>

<%= link_to 'Show', @scraping_html_element %> |
<%= link_to 'Back', scraping_html_elements_path %>
